apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-v1
  namespace: my-app-stack
spec:
  selector:
    matchLabels:
      app: frontend
      env: v1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: frontend
        env: v1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: topology.kubernetes.io/zone
                    operator: In
                    values:
                      - us-east-1a
                      - us-east-1b
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                     - frontend
              topologyKey: kubernetes.io/hostname
      imagePullSecrets:
        - name: dockerhub-cred
      containers:
        - image: kabilesh/29023:web3
          imagePullPolicy: IfNotPresent
          name: frontend-cont1
          livenessProbe:
            httpGet:
              path: /healthz/live
              port: frontend-port
            initialDelaySeconds: 5
            periodSeconds: 15
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /healthz/ready
              port: frontend-port
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          ports:
            - containerPort: 80
              name: frontend-port
              protocol: TCP
          envFrom:
            - secretRef:
                name: frontend-secret
              configMapRef:
                name: frontend-config
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "250m"





