apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: my-app-stack
spec:
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      targetPort: 80
      port: 80
  selector:
    name: frontend-deploy