apiVersion: v1
kind: Service
metadata:
  name: react-frontend-lb
  namespace: my-app-stack
spec:
  type: ClusterIP
  selector:
    app: react-frontend
    version: v1
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
